<br><br><br>
<fieldset class="f1">
    <table ng-table="tc.tableParams" class="table" show-filter="true"
           class="table table-condensed table-bordered table-striped table1">
        <caption class="text-center text-info"><h1>ALL POSTS</h1></caption>
        <tr ng-repeat="post in $data" ui-sref="eachPost({id:post._id})">
            <td title="'Sno'" filter="{ sno: 'number'}" sortable="'sno'">
                {{$index + 1}}
            </td>
            <td title="'Post'" filter="{ text: 'text'}" sortable="'text'">
                {{post.text}}
            </td>
            <td title="'Posted By'" filter="{ postedBy: 'text'}" sortable="'postedBy'">
                {{post.postedBy}}
            </td>
        </tr>
    </table>
</fieldset>